In [1]:
import pandas as pd
import os

In [ ]:
countries_listing = pd.read_csv(os.curdir + '/sources/country_listing.csv', sep=';', encoding='latin1', usecols=[0,1])

  Country code    Country name
0           AF     Afghanistan
1           AL         Albania
2           DZ         Algeria
3           AS  American Samoa
4           AD         Andorra

In [14]:
countries_listing.to_csv(os.curdir + '/sources/country_listing.csv', sep=';', encoding='utf-8')